@page "/"
@using UI.Pages.Goal

<PageTitle>Goal-Keeping</PageTitle>

<h1> Welcome to goal keeping website </h1>

<AuthorizeView>
    <Authorized Context="goalIndex">
        <GoalIndex />
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>